* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #004a56;
  --mainColorLight: #465591;
  --secondaryColor: #009c8f;
  --textColor: #bedcb9;
  background-color: #004a56;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.homePage {
  display: flex;
  justify-content: space-around;
  height: 85vh;
  padding-left: 2%;
  background-color: #000707;
}

.homeImg {
  width: 30%;
  margin: 20px;
  min-width: 200px;
  border-radius: 40%;
}

.homePageTitle1 {
  font-size: 50px;
  color: #009c8f;
  text-shadow: 1px 1px 2px #004a56;
  width: 30%;
}

.homePageTitle2 {
  font-size: 50px;
  color: rgb(255, 251, 251);
  text-shadow: 2px 2px 4px #004a56;
}

.homePageParagraph {
  font-size: 27px;
  margin-top: 5%;
}

.homePageParagraph p {
  color: #c4c2c2;
}

.logosParent {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 85vh;
  justify-content: space-evenly;
}

.logosChildren {
  display: flex;
  justify-content: space-around;
}

.titleParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ABOUT PAGE FORMATTING */

.aboutPageParent {
  height: 85vh;
  background-color: #000707;
  color: #c4c2c2;
  font-size: 27px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  padding: 12%;
}

.webDeveloperPhrase {
  color: #009c8f;
  font-size: 50px;
  font-weight: bold;
  padding-left: 3%;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-left: 40px;
  }

  .titleParent {
    display: flex;
    justify-content: center;
  }

  .titleSubParent {
    display: flex;
    justify-content: center;
    font-size: 17px;
  }

  .homePageParagraph p {
    font-size: 17px;
  }

  /*  .homePage p {
    width: 400px;
  } */

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  .homePageParagraph {
    font-size: 17px;
    margin-top: 5%;
  }

  .titleSubParent {
    display: flex;
    flex-direction: column;
  }

  .homePageTitle1,
  .homePageTitle2 {
    font-size: 40px;
  }

  /*  ABOUT PAGE  */
  .aboutPageParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    background-color: #000707;
    color: #c4c2c2;
    font-size: 17px;
    padding: 3%;
  }

  .webDeveloperPhrase {
    color: #009c8f;
    font-size: 40px;
    font-weight: bold;
    padding-left: 2%;
  }
}

/* projectsPage CSS */
.projectsPageParent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
